* {
    box-sizing: border-box;
    object-fit: contain;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: orange;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.head {
    display: flex;
}

.head h4 {
    color: blue;
    display: flex;
    align-items: flex-end;
}

#menu {
    display: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding-top: 35px;
}

nav a {
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
}

nav a:hover {
    transition: transform 0.5s ease;
    transform: scale(1.15);
    opacity: 0.9;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    font-size: 1rem;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    align-items: center;
    justify-items: center;
}

.grid div {
    background-color: #ddd;
    border: 1px solid #aaa;
    max-width: 350px;
    padding: 10px;
}

.grid img {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 10px 3px grey;
    border-radius: 6px;
    margin: 0 auto;
}

.list {
    display: flex;
    flex-direction: column;
}

.list div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* grid-template-columns: 2fr 1fr 1fr 1fr; */
    margin: 0;
    padding: 0.25rem;
}

.list div>* {
    margin: 0 1rem;
}

.list div img {
    display: none;
    /* smaller viewports only */
}

.list div h3 {
    font-size: 1rem;
    font-family: Roboto, Helvetica, sans-serif;
}

.list div:nth-child(even) {
    background-color: #bed;
}

.container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #bed;
}

#list,
#grid {
    width: 200px;
    height: 40px;
}

button:hover {
    transition: transform 0.5s ease;
    transform: scale(1.15);
    opacity: 0.9;
}

footer {
    background-color: orange;
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    line-height: 0.5;
}

.foot-link nav a {
    text-decoration: none;
}