body {
    background-image: url(https://images.pexels.com/photos/290595/pexels-photo-290595.jpeg?auto=compress&cs=tinysrgb&w=600);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

main {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: transparent;
    box-shadow: 0px 14px 20px rgba(0, 0, 0, 0.3);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 10px;
}

.head {
    display: flex;
}

.head img {
    width: 250px;
    border-radius: 20px;
    object-fit: contain;
}

#menu {
    display: none;
}

nav {
    display: flex;
    justify-content: space-evenly;
    justify-items: center;
    padding-top: 35px;
}

nav a {
    text-decoration: none;
    font-size: 1.9vw;
    color: black;
}

nav a:hover {
    transition: transform 0.5s ease;
    transform: scale(1.15);
    opacity: 0.9;
}

#members {
    display: none;
}

#members.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
    text-align: center;
    align-items: center;
    font-size: 1vw;
    line-height: 0.78;
    justify-items: center;
}

.grid div {
    background-color: #ddd;
    border: 1px solid #aaa;
    max-width: 350px;
    padding: 10px;
}

.grid img {
    width: 100%;
    max-width: 300px;
    box-shadow: 0 2px 10px 3px grey;
    border-radius: 6px;
    margin: 0 auto;
}

#members.list {
    display: flex;
    flex-direction: column;
    font-size: 1vw;
}

.list div {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    padding: 4px;
}

.list div>* {
    margin: 0 1rem;
}

.list div img {
    display: none;
}

.list div:nth-child(even) {
    background-color: #bed;
}

.container {
    margin: 20px 0;
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 20px;
    background-color: #bed;
}

#list,
#grid {
    width: 200px;
    height: 40px;
}

button:hover {
    transition: transform 0.5s ease;
    transform: scale(1.15);
    opacity: 0.9;
}

footer {
    background-color: transparent;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.3);
    display: grid;
    margin-top: 20px;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    justify-items: center;
    line-height: 0.2;
}

.foot-link nav a {
    text-decoration: none;
}

h1 {
    display: none;
}

/* .mem-card {
    display: none;
} */