@media (max-width: 620px) {
    main {
        max-width: 500px;
        margin: 0 auto;
    }

    #menu {
        display: block;
        font-size: 2rem;
        color: black;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 20px;
        background: none;
        border: none;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❎";
    }

    #menu:hover {
        transform: none;
    }

    .head-links {
        opacity: 0;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        background-color: #000;
        transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
    }

    .head-links.open {
        opacity: 1;
        max-height: 100vh;
    }

    .head-links a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    .head-links a:hover {
        text-decoration: underline;
    }

    .head-links.open {
        display: flex;
    }

    #members.grid,
    footer {
        grid-template-columns: 1fr;
        place-content: center;
    }
}