@media (max-width: 620px) {
    main {
        max-width: 500px;
        margin: 0 auto;
    }

    #menu {
        display: block;
        font-size: 2rem;
        color: black;
        cursor: pointer;
        position: absolute;
        top: 40px;
        right: 20px;
        background: none;
        border: none;
    }

    #menu::before {
        content: "☰";
    }

    #menu.open::before {
        content: "❎";
    }

    #menu:hover {
        transform: none;
    }

    header {
        display: block;
    }

    .head-links {
        opacity: 0;
        max-height: 0;
        width: 100%;
        overflow: hidden;
        flex-direction: column;
        transition: opacity 0.5s ease-in-out, max-height 0.5s ease-in-out;
        background-color: #2c2d2d;
        gap: 0;
    }

    .head-links a {
        display: block;
        text-align: center;
        color: #fff;
        text-decoration: none;
        padding: 1rem;
    }

    .head-links.open {
        opacity: 1;
        max-height: 100vh;
    }

    #members.grid,
    footer,
    .membership,
    .first,
    #business {
        grid-template-columns: 1fr;
        place-content: center;
    }

    #members.grid h2 {
        font-size: 18px;
    }

    #members.grid {
        font-size: 14px;
    }

    .spotlight-card h3 {
        padding: 0;
    }

    .first> :first-child {
        height: 200px;
        /* or whatever height you want on mobile */
    }

    .info {
        line-height: 1.5;
    }

    /* #members.list h2 {
        font-size: 18px;
    }

    #members.list {
        font-size: 10px;
    } */
}