@media (max-width: 620px) {
    main {
        max-width: 500px;
        margin: 0 auto;
    }

    #menu {
        display: flex;
        font-size: 2rem;
        border: 0;
        margin: 20px;
        padding-top: 20px;
        background: none;
        color: white;
        cursor: pointer;
    }

    #menu::before {
        content: "☰";
    }

    #menu:hover {
        transform: none;
    }

    #menu.open::before {
        content: "❎";
    }

    .head {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 190px;
        position: sticky;
    }

    nav {
        display: none;
        flex-direction: column;
        background-color: #000505;
    }

    nav.open {
        display: flex;
    }


    nav a {
        display: block;
        color: #fff;
        text-align: center;
        padding: 1rem;
        text-decoration: none;
    }

    nav a:hover {
        text-decoration: underline;
    }

    .grid {
        grid-template-columns: 1fr;
        place-content: center;
    }

    .grid div {
        max-width: 3100%;
        padding: 10px;
        box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.2), -4px -4px 6px rgba(0, 0, 0, 0.2);
    }

    .grid img {
        width: 100%;
        max-width: 300px;
        border-radius: 6px;
        margin: 0 auto;
    }

    footer {
        line-height: 0.8;
    }
}